<footer class='footer'>
  <p>
    A venda de bebidas alcoólicas é proibida para menores de 18 anos. Aprecie com moderação. Se beber, não dirija.
  </p>
  <p>
    © 2024. Wine-Shop Comércio de Vinhos S.A. - CNPJ: 88.250.655/0001-69. Av. Principal, 1000 - Centro, São Paulo - SP.
  </p>
</footer>
